:root {
    --red-color: hsl(10, 79%, 65%);
    --cyan-color: hsl(186, 34%, 60%);

    --neutral-100: hsl(25, 47%, 15%);
    --neutral-200: hsl(28, 10%, 53%);
    --neutral-300: hsl(27, 66%, 92%);
    --neutral-400: hsl(33, 100%, 98%);

    --spacer: 24px;
    
    --border-radius: 16px;
    --max-width: 750px;

    --font-body-copy: 18px;
    --font-large: 34px;
    --font-larger: 40px;
    --font-almost-large: 28px;
}